<div class="form-control">
<p><%= params[:question] %></p>
<h5 class="text-secondary">-You</h5>
</div>

<div class="form-control">
<p class="bold-text"><%= @answer %></p>
<h5 class="text-secondary">-Your coach</h5>
</div>
